* {
  box-sizing: border-box;
}

.register-container {
  max-width: 500px;
  width: 100%;
}

.register-contaneir {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.login-section {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.checkbox {
  display: flex;
  align-items: center;
}

.task {
  background-color: #30313D;
  border-radius: 10px;
  padding: 5px 9px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity .3s linear;
  position: relative;
}

.task svg {
  /* height: 20px;
  margin-right: 4px; */
  height: 20px;
  margin-right: 6px;
  fill: #61DAFB;
}

.form-control {
  color: #ccc;
  line-height: 1.8;
}

.form-control:focus {
  color: #fff;
  box-shadow: none;
}

.task.done {
  opacity: 0.5;
  text-decoration: line-through;
}

.task-name {
  word-break: break-word;
  padding-right: 20px;
  text-transform: capitalize;
}

button.trash {
  background: none;
  border: 0;
  position: absolute;
  right: 0;
  cursor: pointer;
  pointer-events: none;

}

.task.done .trash {
  pointer-events: auto;
}

button.trash svg {
  fill: #888;
  height: 14px;
}

.task input {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
}

.todo_div {
  border: 2px solid #30313d;
  border-radius: 3px;
  padding: 5px;
  display: flex;
}

.todo_div input[type="text"],
.todo_div input[type="email"],
.todo_div input[type="password"] {
  background: none;
  border: 0;
  padding: 0 6px;
  display: block;
  width: 100%;
  color: #ccc;
  text-transform: capitalize;
}

form.todo_div button {
  background-color: #61dafb;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

form.todo_section {
  width: 100%;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}